/* DOCUMENT */

html
  @apply antialiased
  @apply overflow-x-hidden
  @apply overflow-y-scroll
  font-size: 17px
  text-rendering: optimizeLegibility

body
  @apply bg-transparent
  @apply font-exo
  @apply font-regular
  @apply text-dark
  @apply text-base
  @apply leading-base
