/* DOCUMENT */

html
  @apply antialiased
  @apply overflow-x-hidden
  @apply overflow-y-scroll
  font-size: 17px
  text-rendering: optimizeLegibility

body
  @apply bg-transparent
  @apply text-dark
  @apply font-400
  @apply text-base
  @apply leading-base
  font-family: 'Exo 2'
