/* HEADINGS */

h1
  @apply text-xl
  @apply leading-xl-narrow
  @apply font-700

h2
  @apply text-lg
  @apply leading-lg-narrow
  @apply font-600

h3,
h4,
h5,
h6
  @apply text-base
  @apply leading-base-narrow
  @apply font-500
