/* STYLED INLINE TEXT */

a
  @apply text-link

a:visited
  @apply text-link-visited

code
  @apply text-code

pre
  @apply bg-light
  
strong
  @apply font-bold

.small-caps
  font-variant: small-caps

.no-wrap
  @apply whitespace-no-wrap
