/* THEME */

body
  @apply bg-white
  @apply font-sans
  @apply text-gray-17

body > header,
body > footer,
body > nav
  @apply bg-gray-82


/* DEFAULTS FOR TEXT WEIGHT & RESPONSIVE SIZE */

body
  @apply font-regular
  @apply text-sm
  @apply leading-sm


@screen c11
  body
    @apply text-base
    @apply leading-base
  