/* THEME */

a:not(.unstyled)
  @apply text-h240-s70-l47

a:visited:not(.unstyled)
  @apply text-h270-s70-l47

code
  @apply bg-transparent
  @apply text-h0-s70-l47

pre
  @apply bg-gray-82
  
strong
  @apply font-semibold
