/* A GRID CELL WITH SIZING FOR SPECIFIC CONTENT SECTIONS */

.cell:not(.auto)
  @apply w-full
  
.cell:not(.no-padding)
  @apply p-1b

.cell.half-tablet
  @apply max-w-5c

.cell.full-tablet
  @apply max-w-10c


@screen c18
  .cell.full-half-third
    @apply w-half

@screen c25
  .cell.full-half-third
    @apply w-third
  
