/* RESPONSIVE SIZING FOR EMBEDDED MEDIA CONTENT */

.embed
  @apply relative
  @apply overflow-hidden
  @apply w-4c
  @apply pt-3c
  @apply border-4
  @apply border-lighter

.embed > iframe
  @apply absolute
  @apply w-full
  @apply h-full
  @apply top-0
  @apply left-0


@screen c11
  .embed
    @apply w-5c
    @apply ml-2b

@screen c18
  .embed
    @apply w-10c
    @apply pt-4c

@screen c25
  .embed
    @apply w-14c
    @apply pt-5c
