/* STYLING FOR AN INTERACTIVE POP-UP */

.popup
  @apply absolute
  @apply left-0
  @apply p-half-b
  @apply bg-light
  @apply rounded
  @apply font-600
  @apply text-sm
  @apply leading-sm-narrow
  top: 100%
